@use "./reset";
@use "./typography";
@use "./variables" as *;

* {
  transition: all 0.5s ease;
}

body {
  font-family: $font-regular;
  color: $color-black;
  font-size: 16px;
  background: #ebebeb;
}

h1 {
  font-family: $font-bold;
  font-size: $h1-size-large;
}

h2 {
  font-family: $font-semibold;
  font-size: $h2-size-large;
}

h3 {
  font-family: $font-medium;
  font-size: $h3-size-large;
}

p {
  font-family: $font-regular;
  font-size: $p-size;
  margin-bottom: 16px;
}

.container {
  max-width: 1072px;
  margin: 0 auto;
  padding: 0 16px;
}

div#root.root-active::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  z-index: 10;
  display: block;
}

div#root {
  position: relative;
}

.mainBtn {
  color: $color-white;
  background-color: $color-black;
  padding: 6px 28px;
  text-align: center;
  border-bottom: 2px solid $color-gold;
}

input,
textarea {
  padding: 6px 0 6px 12px;
  border: 1px solid $color-black;
  background-color: $color-white;
  width: 100%;
  // margin-bottom: 4px;
  margin-top: 6px;
}

input:nth-child(1) {
  margin-top: 0;
}

textarea {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 24px;
  }

  h1 {
    font-size: $h1-size-medium;
  }
}

@media screen and (max-width: 520px) {
  h1 {
    font-size: $h1-size-small;
  }

  h2 {
    font-size: $h2-size-small;
    margin-bottom: 28px;
  }

  h3 {
    font-size: $h3-size-small;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0 12px;
  }
}
