@import "./../../styles/variables";

.about {
  margin-bottom: 160px;
}

.aboutHeader {
  margin-bottom: 32px;
}

.aboutWrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 32px;
}

.aboutText {
  flex: 0.6;
}

.aboutImg {
  width: 100%;
  height: 100%;
  flex: 0.4;
}

@media screen and (max-width: 768px) {
  .aboutWrapper {
    flex-direction: column-reverse;
  }

  .aboutText {
    flex: unset;
    width: 100%;
  }

  .aboutImg {
    flex: unset;
    img {
      width: 100%;
    }
  }
}
