@import "./../../styles/variables";

.goodsItemWrapper:hover {
  background: #d9d9d9;
}

.goodsItemTop {
  position: relative;
}

.goodsItemLink {
  z-index: 5;
  position: absolute;
  width: 100%;
  height: 100%;
}

.goodsItemVisual {
  position: relative;
  margin-bottom: 14px;
  border-bottom: 2px solid $color-black;
}

.goodsItemVisualTag {
  position: absolute;
  top: 18px;
  left: 18px;
  text-transform: uppercase;
  font-size: 20px;
  font-family: $font-semibold;
  padding: 2px 15px;
  background-color: $color-gold;
  color: $color-white;
  z-index: 10;
}

.goodsItemVisualActions {
  position: absolute;
  top: 18px;
  right: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  z-index: 10;
}

.goodsItemVisualActionBtn {
  padding: 11px;
  background-color: $color-white;
  border-radius: 100%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.goodsItemVisualActionBtn:hover {
  background-color: $color-black;
}

.goodsItemVisualActionBtn:hover svg path {
  fill: #fff !important;
}

.goodsItemVisualImage {
  width: 100%;
  aspect-ratio: 6 / 5;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.goodsItemName {
  font-family: $font-bold;
  text-transform: uppercase;
  font-size: 24px;
}

.goodsItemWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
}

.goodsItemPrice {
  margin-bottom: 13px;
  display: flex;
  gap: 8px;
  align-items: center;
  .goodsItemActualPrice {
    font-family: $font-bold;
    font-size: 18px;
  }
  .goodsItemOldPrice {
    font-size: 16px;
    color: #a7a7a7;
    text-decoration: line-through;
  }
}

.goodsItemCounter {
  display: flex;
  align-items: center;
  gap: 3px;
  justify-content: space-between;
}
.goodsItemCounterWrapper {
  display: flex;
  align-items: center;
  gap: 3px;
  justify-content: space-between;
}

.goodsItemCounterPlus,
.goodsItemCounterNumber,
.goodsItemCounterMinus {
  align-items: center;
  padding: 5px 16px;
  background-color: $color-white;
}

.goodsItemCounterText.mainBtn {
  width: 100%;
  background: #a7a7a7;
}

.addToBasketBtn {
  width: 100%;
}
