@import "./../../styles/variables";

.warranty {
  margin-bottom: 160px;
  background-color: $color-black;
  color: $color-white;
  padding: 32px 0;
}

.warrantyWrapper {
  display: flex;
  align-items: center;
  gap: 32px;
  justify-content: space-between;
}

.warrantyHeader {
  margin-bottom: 14px;
}

.warrantyTime {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.warrantyTimeNumber {
  font-family: $font-bold;
  font-size: 128px;
  line-height: 0.9;
}

.warrantyTimeText {
  font-family: $font-bold;
  text-transform: uppercase;
  font-size: 36px;
}

@media screen and (max-width: 768px) {
  .warrantyWrapper {
    flex-direction: column;
    align-items: flex-start;
  }
}
